{% load crispy_forms_tags %}

<div class="modal fade" id="add-note-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen-md-down" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">What's on your mind...</h4>
                <button type="button" class="btn btn-light close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <form id="add-note-form" method="post" action="{% url 'notes_list_or_add' %}" data-md-init="no">
                        {% csrf_token %}
                        {{ add_note_form | crispy }}
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" id="add-note-btn" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>

<script>
    let add_note_form = $("#add-note-form");
    $('#add-note-modal').on('show.bs.modal', event => {
        const add_note_form_initialized = add_note_form.attr("data-md-init") === "yes";
        if (!add_note_form_initialized) {
            const easy_mde_opts = {
                element: document.getElementById('add-note-form__note-body'),
                autosave: {
                    enabled: true,
                    uniqueId: "AddNoteForm"
                },
                autoRefresh: {delay: 300},
                autofocus: true,
                placeholder: "Everyday is a day to improve yourself"
            };
         const easy_mde = new EasyMDE(easy_mde_opts);
         add_note_form.attr("data-md-init", "yes")
        }
    });
    $("#add-note-btn").click(e => add_note_form.submit());
</script>
{% if add_note_form.errors %}
    <script>
        let add_note_modal = bootstrap.Modal.getOrCreateInstance(document.getElementById("add-note-modal"));
        add_note_modal.show();
    </script>
{% endif %}
